body{
    background-color: #FF8C00;
}

h1{
   font-family: 'Luckiest Guy', cursive; 
   text-align: center;   
}

h4{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    display: block;
    padding: 5px 0px;
}

#Night{
    border-radius: 10%;
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
